{% extends 'blog/wrapper.html' %}
{% load static %}


{% block content %}

    <div class="row">
        {# Display each post. #}
        {% for post in page %}
            <!-- The width of the columns adds up to 12 for one row. -->
            <div class="col-sm-4 d-flex align-items-stretch" style="padding-bottom:1em;">
                <div class="card bg-light">
                    <!-- Top display image. -->
                    <img src="{% static 'images/'|add:post.image.name %}" alt="Image for {{ post.title }}" class="card-img-top">
                    
                    <!-- Main contents. -->
                    <div class="card-body">
                        <h3 class="card-title">{{ post.title }}</h3>

                        <p class="card-text">{{ post.content|truncatewords:30 }}</p>

                        {# 'view_post' is the name of the view to be redirected to #}
                        <a class="stretched-link" href="{% url 'view_post' private_key=post.pk %}"></a>
                    </div>

                    <!-- Extra info. -->
                    <div class="card-footer">
                        <small class="text-muted">Published {{ post.published_date|timesince }} ago. </small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Display options to access other pages. -->
    {% if page.has_other_pages %}
        <nav>
            <ul class="pagination justify-content-center">

                {# Disable the link if no previous page exists. #}
                <li class="page-item {% if page.has_previous == False %} disabled {% endif %}">
                    {# Only generate the URL when the previous page exists. #}
                    <a class="page-link" href="{% if page.has_previous %}?page={{ page.previous_page_number }}{% endif %}">
                        Previous
                    </a>
                </li>

                {% for number in page.paginator.page_range %}
                {# Make the link active for the current page. #}
                <li class="page-item {% if page.number == number %} active {% endif %}">
                    <a class="page-link" href="?page={{ number }}">
                        {{ number }}
                    </a>
                </li>
                {% endfor %}

                {# Disable the link if no next page exists. #}
                <li class="page-item {% if page.has_next == False %} disabled {% endif %}">
                    {# Only generate the URL when the next page exists. #}
                    <a class="page-link" href="{% if page.has_next %}?page={{ page.next_page_number }}{% endif %}">
                        Next
                    </a>
                </li>

            </ul>
        </nav>
    {% endif %}

{% endblock %}