{% extends 'blog/wrapper.html' %}
{% load static %}

{% block title %}
    <div>
        <h1>
            {{ title }}

            {# Display the edit button if the user is logged in. #}
            {% if user.is_authenticated %}
                <a data-toggle="tooltip" title="Edit" href="{% url 'edit_post' primary_key=primary_key %}" class="btn btn-secondary">
                    <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
            {% endif %}

        </h1>
    </div>

    <div>
        <h5>
            <small class="text-muted">
                {% if published %}
                    Published {{ published }} by {{ author }}
                {% else %}
                    Not published.
                {% endif %}
            </small>
        </h5>
    </div>
    
{% endblock %}


{% block content %}

    <img class="rounded float-right" style="width:40%; margin-left: 1%;" src="{{ image_url }}" alt="Image for {{ title }}">

    {% if is_html %}
        {{ content|safe }}
    {% else %}
        {{ content|linebreaks }}
    {% endif %}

{% endblock %}

{% block footer %}
    <script>
        // Enable tooltips.
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}