{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Craig's Blog</title>

  <base href="/"> 

  <!-- Ensure website works with mobiles. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Load in Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Load jquery and Bootstrap JavaScript. -->
  <script type="text/javascript" src="{% static 'js/jquery.slim.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</head>

<body>

  <!-- Top navigation bar. -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 3%;">

    <!-- Title -->
    <a class="navbar-brand" href="/">Craig's Blog</a>

    <!-- The menu icon to be displayed if the screen is too small. -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <!-- Home button. -->
        <li class="nav-item">
          <a class="nav-link" href="/">
            {# Make the label clearer for logged in users. #}
            {% if user.is_authenticated %}
              View Published Posts
            {% else %}
              View Posts
            {% endif %}
          </a>
        </li>

        {# Display these options if the user is logged in. #}
        {% if user.is_authenticated %}
          <!-- View Unpublished Posts. -->
          <li class="nav-item">
            <a class="nav-link" href="/posts/unpublished">
              View Unpublished Posts
            </a>
          </li>

          <!-- View All Posts. -->
          <li class="nav-item">
            <a class="nav-link" href="/posts/all">
              View All Posts
            </a>
          </li>

          <li class="nav-item">
            <!--disabled-->
            <a class="nav-link" href="/post/new">New Post</a>
          </li>

          {% if user.is_superuser %}
            <!-- Go to admin area. -->
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin Zone</a>
            </li>
          {% endif %}
        {% endif %}

        {% if user.is_authenticated == False %}
            <!-- Go to login page. -->
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
        {% else %}
          <!-- Logout the user. -->
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        {% endif %}
    </div>

  </nav>

  <!-- Title -->
  <div class="container-fluid" style="width: 90%">
    {% block title %}
    {% endblock %}
  </div>

  <!-- Main content. -->
  <div class="container-fluid" style="width: 90%">
    {% block content %}
    {% endblock %}
    </br>
  </div>

  <!-- Used to display a permanent footer. -->
  <!-- This is not visible if no footer content is given. -->
  <div class="fixed-bottom">
    <div class="container-fluid bg-light text-black-50">
      {% block footer %}
      {% endblock %}
    </div>
  </div>

</body>

</html>